* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/OAU.png");
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
}
.main {
    height: 88.9%;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
}

.content {
    background-color: rgba(0,0,0,.5);
    margin: auto;
    width: 85%;
    border-radius: 1em;
    height: auto;
    /* min-height: 60%; */
    /* max-height: 75%; */
    /* background-color: #fff; */
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 1.5rem;
    width: 100%;
    background-color: yellow;
    border-bottom: 4px solid blue;
    border-top: 4px solid blue;
    font-weight: 700;
    color: blue;
}

.selectors {
    color: yellow;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 1.2rem;
}

 p {
    font-size: 1.2rem;
    font-weight: 500;
}

select {
    padding: .4rem;
    border-radius: 5px;
    border: 1px solid #555;
    outline: none;
    margin-top: 1em;
    font-weight: 500;
    background-color: #fff;
}

.course_card {
    /* min-width: 5.5rem; */
    max-width: 10.5ch;
    min-height: 3rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: .5em .5em; 
}

.courses {
    margin: 2.5rem 0;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

h4 {
    font-size: 1.1rem;
}

.hidden {
    display: none;
}

button {
    /* width: 7rem; */
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 500;
    background-color: yellow;
    /* height: 2.7rem; */
    margin: 2.5rem auto 2.5rem auto;
    transition: 5ms;
    box-sizing: border-box;
    outline: none;
}
a {
    padding: .7rem 2.2rem;
    color: #222;
    text-decoration: none;
}

button:hover{
    background-color: rgb(255, 255, 46);
    border: 1px solid rgb(202, 202, 202);
    color: #222;
    transform: scale(1.1);
}